ise_web_security:
    defaults: 
        coop:
            active: true
        coep:
            active: true
        fetch_metadata:
            active: true
            allowed_endpoints: []
    paths:
        '^/public':
            coop:
                active: false
            coep:
                active: false
            fetch_metadata:
                active: false