<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    colors="true" 
    bootstrap="vendor/autoload.php"
    stopOnFailure="false"    
>
    <testsuites>
        <testsuite name="Ise Web security bundle test suite">
            <directory suffix="Test.php">./Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
